<section id="feedbackFromClients">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2>What our clients say</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-sm-12 mx-auto">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/infiniteila.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4">
                        <p>
                            Vadim is a God-send in a world full of web designers
                            around every corner. He is not only personable and
                            professional, but invested and trustworthy as well.
                        </p>
                        <p>
                            Vadim spends the time with you to understand your
                            vision/direction, so he can best align with your
                            desires. He offers suggestions to enhance your
                            vision and solutions that range from low-cost, good
                            quality to high-cost, high quality.
                        </p>
                        <p>
                            With every project, and there have been several to
                            date, Vadim has felt like a team member of my
                            company, not a third party web-designer who was
                            hired to complete a job, and move on.
                        </p>
                        <p>
                            He is invested in your success. Your success is his
                            success, therefore he always makes himself
                            accessible to ensure the best representation of your
                            company is always present.
                        </p>
                        <p>
                            I love the family feel of the relationship that has
                            been established, and know that I can always count
                            on Vadim to keep my company's social and web
                            presence at the top, now and in the future.
                        </p>

                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/farrah.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Farrah Wynne,</div>
                        <div class="occupation">Founder, InfiniteILA</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mx-auto my-5 review-divider">
            <hr />
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-sm-12 mx-auto">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/chasefiedler.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4">
                        <p>
                            Steezyapp changed the way I do business! Having a
                            knowledgable web developer gives me the resources to
                            streamline my business and find new clients.
                        </p>
                        <p>
                            I'll never use another website service again. Vote
                            for Steezapp and your dreams will come true!
                        </p>
                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/chase.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Chase Fiedler,</div>
                        <div class="occupation">
                            Founder, Chase Fiedler Tattoos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
