header#thin-header {
    background-color: rgba(19, 19, 20, 0.2);
    color: black;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
}

header#main-header {
    background-size: cover;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    #header-logo-container {
        padding: 25px 0px;

        img {
            width: 100px;
        }
    }

    li {
        a {
            font-size: 1rem;
            font-family: "Poppins", sans-serif;
            padding: 0 1.2rem;
        }
    }
}
.abstract-background {
    background-color: rgba(33, 33, 37, 0.3);
    background-image: url("/assets/images/abstract-bg.jpg");
}

#get-started {
    a {
        text-decoration: none;
    }

    span {
        font-size: 1rem;
        color: white;
        border-radius: 6px;
        padding: 8px 12px;
        transition: background-color 0.5s;
        background-color: #622c7a;
        color: white;
        display: inline-block;

        &:hover {
            cursor: pointer;
            transition: background-color 0.5s;
            background-color: rgba(142, 77, 228, 0.09);
            // color: #8e4de4;
        }

        fa-icon {
            margin-left: 1px;
            font-size: 1.2rem;
        }
    }
}

// Media Queries for Responsiveness

@media (max-width: 758px) {
    #navbarNav {
        .navbar-nav {
            padding-bottom: 50px;
            border-bottom: 5px solid black;
            margin-bottom: 20px;
        }
    }
    .navbar {
        padding: 0px;
    }
}
