<header id="main-header" [ngClass]="headerStyle">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div id="header-logo-container">
                <a routerLink="/"
                    ><img
                        src="assets/images/stz-black.png"
                        alt="Steezysite Logo"
                /></a>
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="my-auto nav-item"
                    >
                        <a class="nav-link" routerLink="/"
                            >Home <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li routerLinkActive="active" class="my-auto nav-item">
                        <a class="nav-link" routerLink="/projects">Websites</a>
                    </li>

                    <li id="get-started" class="nav-item">
                        <a
                            class="nav-link"
                            routerLink="./"
                            fragment="contactForm"
                        >
                            <span>Let's Connect </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
