.navbar {
    padding: 1rem 0rem;
}

#toggleDarkMode {
    color: var(--toggle);
    padding: 0px 20px;
    cursor: pointer;
}
header#main-header {
    background-color: var(--background);
    font-family: "Poppins", Arial, Helvetica, sans-serif;

    li {
        a {
            font-size: 1rem;
            font-family: "Poppins", sans-serif;
            padding: 0 1.2rem;
            color: var(--paragraph);
        }
    }
}
.abstract-background {
    background-color: rgba(33, 33, 37, 0.3);
    background-image: url("/assets/images/abstract-bg.jpg");
}

#get-started {
    background-color: #622c7a;
    border: 0;
    font-size: 1rem;
    border-radius: 6px;
    padding: 10px 15px;
    position: relative;
    opacity: 1;
    transition: all 0.4s ease;
    color: white;
    margin-left: 1.2rem;
    cursor: pointer;
    span {
        margin-right: 10px;
    }

    &:hover {
        opacity: 0.8;
    }
}
#getStartedMobile {
    display: none;
    align-items: center;
    fa-icon {
        margin-left: 10px;
        color: var(--paragraph);
    }
}

@media (max-width: 990px) and (min-width: 759px) {
    #get-started {
        margin-left: 0px !important;
        display: flex;
        justify-content: center;
        display: none;
    }
    #getStartedMobile {
        display: flex;
    }
    #main-header {
        padding: 15px 0px;
        li {
            margin-top: 10px !important;
            a {
                padding: 0 0 0 0px !important;
                font-size: 1.3rem !important;
            }
        }
    }
    #toggleDarkMode {
        padding: 0;
    }
}
// Media Queries for Responsiveness

@media (max-width: 758px) {
    #toggleDarkMode {
        padding: 0;
    }
    #get-started {
        margin-left: 0px !important;
        display: flex;
        justify-content: center;
        display: none;
    }
    #getStartedMobile {
        display: flex;
    }
    #main-header {
        padding: 15px 0px;
        li {
            margin-top: 10px !important;
            a {
                padding: 0 0 0 0px !important;
                font-size: 1.3rem !important;
            }
        }
    }
    // #navbarNav {
    //     .navbar-nav {
    //         padding-bottom: 50px;
    //         border-bottom: 5px solid black;
    //         margin-bottom: 20px;
    //     }
    // }
    .navbar {
        padding: 0px;
    }
}
