header#thin-header {
    background-color: rgba(19, 19, 20, 0.2);
    color: black;
}
.navbar {
    padding: 1rem 0rem;
}

header#main-header {
    background-size: cover;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    #header-logo-container {
        background-color: #622c7a;
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        img {
            // width: 100px;
            width: 30px;
        }
    }

    li {
        a {
            font-size: 1rem;
            font-family: "Poppins", sans-serif;
            padding: 0 1.2rem;
        }
    }
}
.abstract-background {
    background-color: rgba(33, 33, 37, 0.3);
    background-image: url("/assets/images/abstract-bg.jpg");
}

#get-started {
    background-color: #622c7a;
    border: 0;
    font-size: 1.1rem;
    border-radius: 36px;
    padding: 15px 30px;
    position: relative;
    opacity: 1;
    transition: all 0.4s ease;
    color: white;
    margin-left: 1.2rem;
    cursor: pointer;
    span {
        margin-right: 10px;
    }

    &:hover {
        opacity: 0.8;
    }
}

// Media Queries for Responsiveness

@media (max-width: 758px) {
    #get-started {
        margin-left: 0px !important;
        display: flex;
        justify-content: center;
    }
    #main-header {
        padding: 15px 0px;
        li {
            margin-top: 10px !important;
            a {
                padding: 0 0 0 0px !important;
                font-size: 1.3rem !important;
            }
        }
    }
    // #navbarNav {
    //     .navbar-nav {
    //         padding-bottom: 50px;
    //         border-bottom: 5px solid black;
    //         margin-bottom: 20px;
    //     }
    // }
    .navbar {
        padding: 0px;
    }
}
