.homepage-slider {
    background-image: url("/assets/images/STZY_splashscreen_background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: calc(100vh);
    position: relative;

    .container-fluid {
        padding-bottom: 65px;
    }

    .splashscreenContainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5rem;
    }
    #splashSwoosh {
        width: 100%;
        position: absolute;
        bottom: 0px;
    }

    .slider-text {
        float: left;
        margin-right: 20px;

        fa-icon {
            color: rgb(78, 156, 68);
            margin-right: 10px;
        }

        span {
            font-family: "Poppins", sans-serif;
            font-size: 1.1rem;
            display: block;
            font-weight: 400;
            margin-bottom: 10px;
        }
        :before {
            font-size: 25px;
        }
    }
    h1 {
        font-size: 3.4rem;
        color: #2c2c2c;
        line-height: 1.2;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        margin-left: -4px;
    }

    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        display: block;
        font-weight: 400;
        margin-bottom: 10px;
        padding: 15px 0px;
        line-height: 1.5;
    }
}
@media (max-width: 758px) {
    .homepage-slider {
        height: inherit;

        h1 {
            font-size: 1.5rem;
            text-align: center;
        }
        h2 {
            font-size: 1.1rem;
        }
        .container-fluid {
            padding-bottom: 0px;
        }
        .slider-text {
            span {
                font-size: 1rem;
            }
        }
        #splashSwoosh {
            width: 100%;
            position: absolute;
            bottom: -50px;
        }
    }
}
