p {
    color: #333;
    font-size: 1rem;
    line-height: 30px;
}
section#introContainer {
    padding: 8rem 0rem;
    div#intro {
        h1 {
            letter-spacing: 1px;
        }
        h4 {
            font-weight: 300;
            font-size: 1.8rem;
            letter-spacing: 1px;
        }
        .tags {
            p {
                color: rgb(158, 158, 158);
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 0.9px;
                font-weight: 500;
            }
        }
    }
}
section#challangeContainer {
    margin-bottom: 5rem;
}
section#newExperienceMobile {
    h1 {
        color: white;
        margin-bottom: 20px;
    }
    p {
        color: rgb(236, 236, 236);
        font-size: 1rem;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 1px;
    }
}
.disclaimer {
    color: grey;
    font-size: 0.9rem;
    margin-top: 10px;
}
.wave-container {
    background-color: #6d4d75;
}
.pt-10 {
    padding-top: 10rem;
}
.py-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
