<div class="container" *ngIf="project$">
    <div id="project-item-header" class="row">
        <div class="col-lg-12 col-12 my-auto">
            <h1>
                {{ project$?.title.rendered }}
            </h1>
            <h4>
                {{ project$?.projectTypeOfWork }}
            </h4>
            <!-- <h2>
                {{ project$?.acf.projectDescription }}
            </h2> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mb-5 mx-auto">
            <div class="project-divider"></div>
        </div>
    </div>

    <div class="row overview first-row mb-5" *ngIf="!project$?.col_3_image">
        <div class="col-sm-6 order-2 order-lg-1 vertical-align">
            <p [innerHtml]="project$?.content.rendered"></p>
        </div>
        <div class="col-sm-6 order-1 order-lg-2 mb-lg-2 mb-5">
            <img
                src="{{ project$?.better_featured_image.source_url }}"
                alt="{{ project$?.title.rendered }}"
                class="img-responsive"
            />
        </div>
    </div>

    <div class="row overview first-row" *ngIf="project$?.col_3_image">
        <div class="col-sm-6 order-2 order-lg-1 vertical-align">
            <h2 class="title" [innerHtml]="project$?.col_1_title"></h2>
            <p [innerHtml]="project$?.col_1_text"></p>
        </div>
        <div class="col-sm-6 order-1 order-lg-2 mb-lg-2 mb-5">
            <img
                src="{{ project$?.col_1_image }}"
                alt="{{ project$?.title.rendered }}"
                class="img-responsive"
            />
        </div>
    </div>
    <div class="row overview my-5 second-row" *ngIf="project$?.col_3_image">
        <div class="col-sm-6 order-2 order-lg-2 vertical-align">
            <h2 class="title" [innerHtml]="project$?.col_2_title"></h2>
            <p [innerHtml]="project$?.col_2_text"></p>
        </div>
        <div class="col-sm-6 order-1 order-lg-1 mb-lg-2 mb-5">
            <img
                src="{{ project$?.col_2_image }}"
                alt="{{ project$?.title.rendered }}"
                class="img-responsive"
            />
        </div>
    </div>
    <div class="row overview third-row" *ngIf="project$?.col_3_image">
        <div class="col-sm-6 order-2 order-lg-1 vertical-align">
            <h2 class="title" [innerHtml]="project$?.col_3_title"></h2>
            <p [innerHtml]="project$?.col_3_text"></p>
        </div>
        <div class="col-sm-6 order-1 order-lg-2 mb-lg-2 mb-5">
            <img
                src="{{ project$?.col_3_image }}"
                alt="{{ project$?.title.rendered }}"
                class="img-responsive"
            />
        </div>
    </div>
</div>
