footer {
    background-color: white;
    width: 100%;
    padding: 40px 0px 20px 0px;
    // margin-top: 50px;

    .horizontal-line {
        hr {
            background-color: rgb(255, 255, 255);
        }
    }
    section#view-projects {
        a {
            color: black;

            font-size: 4rem;
            &:hover {
                text-decoration: none;
            }
        }
    }

    section#copyright {
        padding: 20px 0px;
        text-align: center;
        p {
            font-size: 0.9rem;
            color: rgb(78, 78, 78);
            margin-bottom: 0px;
        }
    }
}

// Media Queries for Responsiveness

@media (max-width: 758px) {
    footer {
        section#view-projects {
            a {
                font-size: 2rem;
            }
        }
        section#contact-area {
            h4 {
                margin-top: 10px;
            }
        }
    }
}
