footer {
    background-color: #141414;
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-align: center;
    p {
        text-align: center;
        font-family: "Lexend Mega", sans-serif;
        font-size: 0.8em;
        text-transform: uppercase;
        color: #868686;
        margin-bottom:0px;
    }
}
