<footer id="contactForm">
    <section *ngIf="showContactUs()" id="footer-contact-us">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Let's discuss your project</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 text-center">
                    <a routerLink="/projects" class="round-button">
                        Contact Us
                        <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="horizontal-line">
            <div class="row">
                <div class="col-lg-12"><hr /></div>
            </div>
        </div>
    </section>

    <section id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Irvine, CA 92614, USA | © Steezysite 2021</p>
                </div>
            </div>
        </div>
    </section>
</footer>
