<div class="main-container">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-newsletter-popup *ngIf="util.newsLetterShow"></app-newsletter-popup>
    <div *ngIf="!isLoaded">
        <app-copyright></app-copyright>
    </div>
</div>
<app-google-analytics-gtag *ngIf="production"></app-google-analytics-gtag>
<!-- <div id="pageLoader">
    <div id="header-logo-container">
        <img
            src="assets/images/logos/just-z-white.png"
            alt="Steezapp Logo"
            width="20px"
        />
    </div>
</div> -->
