<div class="container my-5">
    <div class="row my-2 mb-5">
        <div class="col-12 text-center">
            <h1>Our Blog</h1>
            <p>
                Discussing the latest in mobile and web app development and
                design.
            </p>
        </div>
    </div>
    <div class="row" id="blogPosts">
        <div class="col-10 mx-auto">
            <div class="blog-item row">
                <div class="col-12">
                    <div class="blog">
                        <div class="row">
                            <div class="col-7">
                                <div class="blog-title">
                                    <h5>Why Page Speed Matters</h5>
                                </div>
                                <div class="blog-data">
                                    <span class="date">June 4, 2021</span>
                                    <span class=""> | </span>
                                    <span class="author"
                                        >Steezapp Media Editor</span
                                    >
                                </div>
                                <div class="blog-snippet mt-4">
                                    <p>
                                        In this post, we will discuss most
                                        popular methods of visualizing data
                                        along-with their pros.
                                        Data-visualization technologies are
                                        constantly evolving, with data
                                        scientists continuously experimenting.
                                        Today’s dashboard scene is not as it
                                        used to be twenty years ago, nor is it
                                        the way it will be twenty years in the
                                        future.
                                    </p>
                                </div>
                                <div class="read-more">
                                    <a>Read More</a>
                                </div>
                            </div>

                            <div class="col-5" id="blogImage">
                                <img
                                    src="assets/images/blog-1.png"
                                    alt=""
                                    class="img-fluid"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
