<app-splashscreen></app-splashscreen>

<section id="latest-projects" class="mt-1">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 mx-auto">
                <h3>
                    Latest Projects
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center mt-1 mb-5">
                <img
                    src="assets/images/sideways_rectangle-01.svg"
                    alt=""
                    class="sideways-rectangle mx-auto"
                />
            </div>
        </div>

        <div class="row" id="work-statement">
            <div class="col-xs-12 mx-auto text-center">
                <span
                    >We blend user experience and design to maximize audience
                    engagement. We use cutting edge technology, innovation, and
                    simplistic beauty to propel you past the compeition.</span
                >
            </div>
        </div>
        <app-project-list></app-project-list>

        <div class="row">
            <div class="col-sm-12 text-center">
                <p id="viewMoreProjects">
                    <a routerLink="/projects">VIEW MORE PROJECTS ></a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contactForm" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Let's Connect</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 order-sm-2">
                <p>
                    Are you looking to discuss a new project or do you have an
                    idea for a new collaboration?
                </p>
                <p>
                    Email us connect@steezy.io
                </p>
            </div>
            <div class="col-lg-5 order-sm-1">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</section>
<!-- <app-getstarted></app-getstarted> -->
