<!-- <app-header></app-header> -->
<div class="container">
    <section id="hero">
        <div class="row">
            <div class="col-12 my-5 text-center">
                <h1>Build Clean Apps</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-12 mx-auto text-center">
                <h3>We build simple and powerful web and mobile apps.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-5 text-center">
                <div class="custom-button btn-center" routerLink="/projects">
                    View Latest Work
                </div>
            </div>
        </div>
    </section>
</div>
<div id="wave">
    <svg
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 614 14.38"
    >
        <title>WaveThin</title>
        <path
            d="M614,30.37q-14.34-.82-28.68-1.63c-11.55-.64-23.08-1.52-34.66-1.8-22.6-.54-45.25-1.14-67.85-1-30.08.25-60.17,1-90.2,2-27.17.86-54.28,2.27-81.41,3.46-22.17,1-44.31,2.08-66.49,3-19.88.8-39.77,1.64-59.68,2-29.77.53-59.61,1.28-89.34.78C67,36.7,38.48,34.78,9.88,33.47c-3.3-.15-6.59-.39-9.88-.58V8.2c9.56.54,19.11,1.11,28.68,1.62,11.88.65,23.74,1.54,35.66,1.82,22.6.54,45.24,1,67.85.95,25.1-.11,50.21-.72,75.28-1.48,24.36-.74,48.68-1.88,73-3C307.76,6.91,335,5.47,362.3,4.28c16.22-.71,32.51-1,48.74-1.68,35.55-1.43,71.19-2,106.77-1.26,28.82.63,57.54,2.45,86.31,3.75,3.3.15,6.59.39,9.88.59Z"
            style="fill: #f4edf6"
        />
    </svg>
</div>
<section id="whatWeDo">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2>What We Do</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div id="serviceCards">
                    <div class="service-card text-center">
                        <div class="card-image mb-3">
                            <img
                                src="assets/images/window-maximize-regular.svg"
                                alt=""
                            />
                        </div>
                        <p>Web<br />Applications</p>
                    </div>
                    <div class="service-card text-center">
                        <div class="card-image mb-3">
                            <img src="assets/images/apple-brands.svg" alt="" />
                        </div>
                        <p>iOS<br />Applications</p>
                    </div>
                    <div class="service-card text-center">
                        <div class="card-image mb-3">
                            <img
                                src="assets/images/android-brands.svg"
                                alt=""
                            />
                        </div>

                        <p>Android<br />Applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-8 col-sm-12 mx-auto mt-4 text-center">
            <p>
                We build affordable application solutions for businesses, large
                and small. By combining the latest in mobile and web
                technologies with the Steezapp 'style with ease' philosophy, we
                create tailored to your business solutions with emphasis on user
                experience, clean designs, and powerful functionality.
            </p>
        </div>
    </div>
</section>
<section id="caseStudy">
    <div class="container py-5">
        <div class="row my-5">
            <div class="col-lg-7 col-sm-12">
                <img
                    class="img-fluid"
                    src="assets/images/Laptop-SelfBalanceMassage.png"
                    alt=""
                />
            </div>
            <div id="caseDescription" class="col-lg-5 col-sm-12 text-center">
                <div class="row">
                    <div class="col-12">
                        <h2>Self Balance Massage<br />Case Study</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <p>
                            After inheriting Self Balance Massage from a
                            previous owner several years ago, Richelle came to
                            us with a website that looked outdated and straight
                            out of the early 2000s.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <div
                            class="custom-button btn-center"
                            routerLink="/projects/self-balance-massage"
                        >
                            View Case Study
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="feedbackFromClients">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2>What our clients say</h2>
            </div>
        </div>
        <div class="row mt-4">
            <!-- <div class="col-lg-4 col-sm-12">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/selfbalancemassage.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4">
                        At Self Balance Massage, our number one priority is the
                        health and safety of all the members of our community.
                        We care about you and your individual needs as well.
                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/richelle-photo.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Richelle McMann,</div>
                        <div class="occupation">
                            Owner, Self Balance Massage
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-lg-4 col-sm-12">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/infiniteila.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4 text-center">
                        Steezapp is a God-send in a world full of web agencies
                        around every corner. They are not only personable and
                        professional, but invested and trustworthy as well.
                        <span
                            id="readMore"
                            routerLink="/reviews"
                            fragment="infiniteila"
                            >Read More</span
                        >
                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/farrah.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Farrah,</div>
                        <div class="occupation">Founder, InfiniteILA</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 review-divider">
                <hr />
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/chasefiedler.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4 text-center">
                        Steezyapp changed the way I do business! Having a
                        knowledgable web agency gives me the resources to
                        streamline my business and find new clients.
                        <span
                            id="readMore"
                            routerLink="/reviews"
                            fragment="chasefiedler"
                            >Read More</span
                        >
                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/chase.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Chase,</div>
                        <div class="occupation">
                            Founder, Chase Fiedler Tattoos
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 review-divider">
                <hr />
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/sportsapparellogo.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4 text-center">
                        We were very excited to work with Steezapp, the people
                        that recommended them to us mentioned that you are
                        committed and determined but we never expected...
                        <span
                            id="readMore"
                            routerLink="/reviews"
                            fragment="sportsapparel"
                            >Read More</span
                        >
                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/sports-profile.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Steve,</div>
                        <div class="occupation">Owner, Sports Apparel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
