#mobileIntroduction {
    display: none;
}
.wavee {
    fill: var(--background-lightpink);
}
section#hero {
    margin-top: 6rem;
    margin-bottom: 10rem;
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 400;
    }
}
section#whatWeDo {
    background-color: var(--background-lightpink);
    padding: 0px 0px 0px 0px;
    p {
        color: var(--paragraph-light);
    }
    #serviceCards {
        display: flex;
        justify-content: space-around;
        width: 450px;
        margin: 0 auto;
        .service-card {
            .card-image {
                background-color: white;
                width: 100px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 8px;

                img {
                    width: 35px;
                }
            }
            p {
                color: var(--paragraph);
                font-weight: bold;
            }
        }
    }
}
#caseStudy {
    #caseDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#readMore {
    display: block;
    font-size: 0.8rem;
    color: var(--paragraph-light);
    cursor: pointer;
}

// Media Queries for Responsiveness

@media (max-width: 758px) {
    section#hero {
        margin-bottom: 4rem;
        margin-top: 2rem;
        h1 {
            font-size: 2rem;
        }
    }
    #wave {
        svg {
            display: block;
        }
    }
    section#whatWeDo {
        #serviceCards {
            width: 100%;
        }
    }
    #caseDescription {
        margin-top: 5rem;
    }
    .review-divider {
        display: block !important;
    }
}
