<section id="feedbackFromClients">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2>What our clients say</h2>
            </div>
        </div>
        <div class="row mt-4" id="infiniteila">
            <div class="col-lg-6 col-sm-12 mx-auto">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/infiniteila.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4">
                        <p>
                            Steezapp is a God-send in a world full of web
                            designers around every corner. They are not only
                            personable and professional, but invested and
                            trustworthy as well.
                        </p>
                        <p>
                            Steezapp spends the time with you to understand your
                            vision/direction, so they can best align with your
                            desires. They offers suggestions to enhance your
                            vision and solutions that range from low-cost, good
                            quality to high-cost, high quality.
                        </p>
                        <p>
                            With every project, and there have been several to
                            date, Steezapp has felt like a part of the team of
                            my company, not a third party web-designer hired to
                            complete a job, and move on.
                        </p>
                        <p>
                            Steezapp is invested in your success. Your success
                            is their success, therefore they always makes
                            themselves accessible to ensure the best
                            representation of your company is always present.
                        </p>
                        <p>
                            I love the family feel of the relationship that has
                            been established, and know that I can always count
                            on Steezapp to keep my company's social and web
                            presence at the top, now and in the future.
                        </p>

                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/farrah.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Farrah Wynne,</div>
                        <div class="occupation">Founder, InfiniteILA</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mx-auto my-5 review-divider">
            <hr />
        </div>
        <div class="row mt-4" id="chasefielder">
            <div class="col-lg-6 col-sm-12 mx-auto">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/chasefiedler.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4">
                        <p>
                            Steezyapp changed the way I do business! Having a
                            knowledgable web agency gives me the resources to
                            streamline my business and find new clients.
                        </p>
                        <p>
                            I'll never use another website service again. Vote
                            for Steezapp and your dreams will come true!
                        </p>
                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/chase.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Chase Fiedler,</div>
                        <div class="occupation">
                            Founder, Chase Fiedler Tattoos
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mx-auto my-5 review-divider">
            <hr />
        </div>
        <div class="row mt-4" id="sportsapparel">
            <div class="col-lg-6 col-sm-12 mx-auto">
                <div class="review">
                    <div class="review-title my-3">
                        <img
                            src="assets/images/profile-pic/sportsapparellogo.png"
                            alt=""
                            class="img-fluid"
                        />
                    </div>
                    <div class="review-text my-4">
                        <p>We were very excited to work with Steezapp</p>
                        <p>
                            The people that recommended them to us mentioned
                            that you are committed and determined but we never
                            expected such professionalism.
                        </p>
                        <p>
                            Together, we've built an amazing project. Our users
                            love using our site as they can make orders within a
                            few clicks!
                        </p>

                        <div class="triangle"></div>
                    </div>
                    <div class="review-author mt-5 mb-3">
                        <div class="photo">
                            <img
                                src="assets/images/profile-pic/sports-profile.png"
                                alt=""
                                class="img-fluid"
                            />
                        </div>
                        <div class="name mt-3">Steve,</div>
                        <div class="occupation">Owner, Sports Apparel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
