<footer id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-split">
                    <div id="footerNav">
                        <a routerLink="">Home</a>
                        <a routerLink="projects">Projects</a>
                        <a routerLink="reviews">Reviews</a>
                        <a routerLink="contact" fragment="top">Contact</a>
                        <a routerLink="privacy">Privacy Policy</a>
                        <!-- <a (click)="toggleNewsletter()">Newsletter</a> -->
                    </div>
                    <p>Irvine, CA 92614, USA | © Steezapp 2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
