$background-tint: #f4edf6;
.background {
    background-color: #fbfbfb;
}
/* You can add global styles to this file, and also import other style files */
html,
body,
p,
span {
    font-family: "Poppins", sans-serif;
}
body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}
fa-icon svg {
    display: inline-block;
    font-size: inherit;
    height: 1em;
}
fa-icon .fa-2x {
    height: 2em;
}
.container-small {
    max-width: 940px;
}
.light-bg {
    background-color: #fef8ff1e;
}
.light-grey-bg {
    background-color: #fafafa;
}
.custom-button {
    display: inline-block;
    background-color: #622c7a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    &.btn-center {
        margin: 0 auto;
    }
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-custom-color {
    background-color: #622c7a;
    color: white;
}
