<section class="background">
    <div class="container pt-lg-5">
        <div class="row">
            <div
                class="col-lg-4"
                *ngFor="let project of projects$ | slice: 0:12"
            >
                <a [routerLink]="['/projects', project.slug]">
                    <div class="project-item">
                        <div class="hover-container">
                            <div class="steezy-image">
                                <img
                                    src="{{
                                        project.better_featured_image.source_url
                                    }}"
                                />
                            </div>
                        </div>

                        <div class="description">
                            <h2>
                                {{ project.projectDescription }}
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
