<p>the message: {{ projects[0] }}</p>
<div class="container py-5">
    <div class="row">
        <div
            *ngFor="let project of data | slice: 0:sliceAmount"
            class="col-lg-6 p-0"
        >
            <a [routerLink]="['/projects', project.slug]">
                <div class="hover-container">
                    <img
                        class="steezy-image"
                        src="{{ project.better_featured_image.source_url }}"
                    />
                    <div class="proj-container">
                        <div class="proj-inner">
                            <h2>{{ project.acf.projectDescription }}</h2>
                            <span class="proj-subtext">{{
                                project.acf.projectTypeOfWork
                            }}</span>
                            <span class="proj-button">{{
                                project.title.rendered
                            }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
