// .form-group .ng-invalid.ng-touched {
//     border: 1px solid red;
// }
span {
    font-size: 0.9rem;
    color: #6d6d6d;
}
form {
    background-color: #f4edf6;
    border-radius: 8px;
    padding: 40px;
}
.help-block {
    color: white;
    padding-left: 13px;
    margin-top: 10px;
    display: block;
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.form-control {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
}

.show-block {
    opacity: 1;
    border-color: rgb(255, 195, 195);

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(172, 172, 172);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}
