<div class="row">
    <div class="col-lg-12">
        <form #f="ngForm" (ngSubmit)="processForm()" class="mt-3">
            <div class="row">
                <div class="col-lg-12">
                    <p class="alert alert-success" *ngIf="showSuccessMessage">
                        <strong>Thank you for your message.</strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <input
                            type="text"
                            name="yourName"
                            class="form-control"
                            placeholder="Your Name"
                            [(ngModel)]="name"
                        />
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <input
                            type="email"
                            name="yourEmail"
                            class="form-control"
                            placeholder="Your Email"
                            ngModel
                            required
                            email
                            #email="ngModel"
                        />
                        <span
                            class="help-block"
                            [ngClass]="{
                                'show-block': !email.valid && email.touched
                            }"
                            >Please enter a valid email</span
                        >
                    </div>
                </div>
                <div class="col-lg-2">
                    <button
                        type="submit"
                        class="btn btn-success"
                        [disabled]="!f.valid"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
